@{
    Layout = "../Shared/_DarkLayout.cshtml";
}

<div align="center">
    <div class="col-12" align="center">
        <form asp-action="RegisterUser" method="POST" align="center">
            <div class="form-group">
                <div class="card" align="center">
                    <div class="card-body">
                        <br />
                        <h2 align="center">Daftar User Baru</h2><br />
                        <hr />
                        <br />
                        <br />
                        <label>Username</label><br />
                        <input type="text" name="Username" style="text-align:center;color:black; width: 300px; height: 30px;border-radius: 12px;" class="form-control-lg" />
                    </div>
                    <div class="card-body">        
                        <br />
                        <label>Nama</label><br />
                        <input type="text" name="Name" style="text-align: center; color: black; width: 300px; height: 30px; border-radius: 12px;" class="form-control-lg" />
                    </div>
                    <div class="card-body" align="center">
                        <br />                        
                        <label>Password</label><br />
                        <input type="password" name="Password" style="text-align: center; color: black; width: 300px; height: 30px; border-radius: 12px;" class="form-control-lg" />
                    </div>
                    <input type="hidden" name="Role" value="2" />
                    <div class="card-body" align="center">
                        <br />
                        
                        <br />
                        <br />
                        <hr />
                        <br />
                        <br />
                        <button type="submit" onclick="alert('Akun User telah berhasil dibuat, Silahkan untuk login !')" class="btn btn-primary btn-lg"
                                style="
                                cursor:pointer;
                                background-color: lime;
                                font-size:20px ;
                                padding: 7px 18px;
                                border-radius: 8px;
                                transition-duration: 0.4s;
                        ">
                            Daftar
                        </button>
                    </div>
                    <br /><br />
                </div>
            </div>
        </form>
    </div>
</div>