<html lang="id">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style data-href="/styles.8ace29a79c1e5a0df7ee.css" id="gatsby-global-css">
        #font-face {
            font-display: optional;
            font-family: charter;
            font-style: normal;
            font-weight: 400;
        }

        #font-face {
            font-display: optional;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
        }

        #font-face {
            font-display: swap;
            font-family: Poppins;
            font-style: normal;
            font-weight: 700;
        }

        #font-face {
            font-display: block;
            font-family: Icon;
            font-style: normal;
            font-weight: 400;
        }

        :root {
            --o: #000;
            --p: #444;
            --q: #fff;
            --r: #f6f6f6;
            --x: #fcfcfc;
            --y: #fddd4e;
            --z: #34444c
        }

            :root [data-theme=dark] {
                --o: #fff;
                --p: #f6f6f6;
                --q: #1c2529;
                --r: #28353a;
                --x: #212c31;
                --y: #274855;
                --z: #bbcfd7
            }

        *,
        :after,
        :before {
            box-sizing: border-box
        }

            * :-ms-input-placeholder {
                color: var(--p)
            }

        body {
            background: var(--q);
            color: var(--o);
            font-family: charter, serif;
            margin: 0;
            padding: 0
        }

        .container {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%
        }

            .container .left {
                flex: 30% 1;
                max-width: 360px
            }

            .container .center {
                flex: 50% 1
            }

            .container .right {
                flex: 30% 1;
                justify-content: flex-end;
                max-width: 360px
            }

        .row {
            display: flex
        }

            .row.wrap {
                flex-wrap: wrap
            }

            .row.top {
                margin-top: 60px
            }

        .col {
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            width: 100%
        }

        .card {
            background-color: var(--q);
            border-radius: 15px;
            padding: 10px
        }

        a {
            text-decoration: none
        }

        .pg,
        .pgbox {
            display: flex
        }

        .pg {
            background: var(--q);
            border-radius: 10px;
            flex-direction: column;
            margin: 10px;
            padding: 15px
        }

            .pg .thumb {
                position: relative
            }

            .pg img {
                border-radius: 5px !important;
                height: auto;
                width: 100%
            }

            .pg .more {
                background: var(--y);
                border: 4px solid var(--q);
                border-radius: 50%;
                color: var(--z);
                font-size: 24px;
                height: 55px;
                justify-content: center;
                width: 55px
            }

                .pg .more:hover {
                    border-color: hsla(0, 0%, 100%, .6) !important
                }

            .pg .title {
                font-size: 1.1rem;
                margin-bottom: 0
            }

            .pg .txt {
                flex: 1 1 auto;
                font-family: Poppins;
                font-size: .85rem;
                line-height: 1.5em;
                opacity: .7
            }

            .pg .foot {
                justify-content: space-between
            }

        input {
            color: var(--p)
        }

        .ads {
            margin: 1rem auto
        }

        .navbar {
            background-color: var(--q);
            height: 56px;
            justify-content: space-between;
            left: 0;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 500
        }

            .navbar ul {
                list-style: none;
                padding: 0
            }

        #rightmenu .i {
            margin-left: 30px
        }

        #logo {
            margin-top: 3px
        }

        .search {
            position: relative
        }

            .search input {
                background: var(--r);
                border-radius: 20px;
                height: 40px;
                padding: 0 50px 0 20px;
                width: 100%
            }

                .search input:focus {
                    border: 1px solid rgba(253, 221, 78, .6)
                }

            .search button {
                background: none;
                color: var(--p);
                font-size: 18px;
                opacity: .5;
                position: absolute;
                right: 5px
            }

            .search button,
            .search input {
                border: none;
                outline: none
            }

        #mobilemenu {
            justify-content: space-between;
            list-style: none;
            padding: 0;
            width: 100%
        }

        .contents {
            max-width: 100%;
            overflow: hidden
        }

        .thumbnail {
            border-radius: 10px;
            height: auto;
            width: 100%
        }

        .pi {
            margin-bottom: 1rem
        }

        .piimg {
            border-radius: 50%;
            height: 40px;
            width: 40px
        }

        .pitxt {
            color: var(--p);
            font-family: Poppins;
            font-size: .8rem;
            margin-left: 10px
        }

        .pitm {
            font-style: italic;
            opacity: .8
        }

        .ptitle {
            font-size: 2rem
        }

        .content img,
        .content video {
            border-radius: 10px;
            border-style: none;
            display: block;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            width: auto
        }

            .content img.icon,
            .content video.icon {
                border-radius: .2rem;
                display: inline;
                max-height: 18px
            }

                .content img.icon.lg,
                .content video.icon.lg {
                    max-height: 28px !important
                }

        .content a {
            color: inherit;
            opacity: .9
        }

            .content a:hover {
                background: rgba(255, 255, 0, .3607843137254902);
                border-bottom: 1px solid var(--y);
                opacity: 1
            }

            .content a:after {
                content: " \2197";
                font-family: icon, sans;
                font-size: x-small;
                vertical-align: super
            }

        .content hr {
            border: none;
            border-top: 4px dotted var(--p);
            margin: 3.5rem auto;
            opacity: .8;
            width: 25px
        }

        .content .footnotes a:after,
        .content a.footnote-ref:after {
            content: none
        }

        iframe.content {
            border: 1px solid rgba(0, 0, 0, .08);
            border-radius: 10px;
            height: 350px;
            width: 100%
        }

        .post-title {
            font-family: Poppins
        }

        .post {
            max-width: 100%
        }

            .post.body {
                font-size: 1.15rem;
                line-height: 1.9rem
            }

                .post.body h2,
                .post.body h2 a,
                .post.body h3,
                .post.body h3 a,
                .post.body h4,
                .post.body h4 a,
                .post.body h5,
                .post.body h5 a,
                .post.body h6,
                .post.body h6 a {
                    color: var(--z);
                    font-family: Poppins;
                    margin-bottom: .5rem;
                    margin-top: 1.5rem
                }

                .post.body h2 {
                    font-size: 1.6rem
                }

                .post.body h3 {
                    font-size: 1.4rem
                }

                    .post.body h2:after,
                    .post.body h3:after {
                        color: var(--y);
                        content: "\00AF\00AF\00AF";
                        display: block;
                        font-family: Icon;
                        font-size: 20px;
                        height: 0
                    }

                .post.body h4 {
                    font-size: 1.3rem
                }

                .post.body h5,
                .post.body h6 {
                    font-size: 1.2rem
                }

        .pfoot {
            border-bottom: 1px solid var(--r);
            margin: 1.5rem 0;
            padding-bottom: 1rem
        }

        .ptag {
            background: var(--r);
            border-radius: 5px;
            color: var(--p);
            font-family: Poppins;
            font-size: .8rem;
            margin: 3px 6px 3px 0;
            padding: 6px 10px 8px 8px
        }

        .pagination,
        .ptag {
            display: inline-flex
        }

        .pagination {
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            width: 100%
        }

        .page-item {
            background: var(--q);
            border-radius: 50%;
            font-family: Poppins;
            margin: 3px
        }

            .page-item.active,
            .page-item:not(.disabled):hover {
                background: var(--y)
            }

        .page-link {
            color: var(--p);
            height: 45px;
            justify-content: center;
            width: 45px
        }

        .disabled .page-link {
            cursor: not-allowed;
            opacity: .5
        }

        .widget {
            font-family: Poppins, sans-serif;
            padding: .5rem 0
        }

            .widget .header {
                font-size: 1.1rem
            }

        .np .item {
            background: var(--x);
            border-radius: 5px;
            color: var(--p);
            display: flex;
            font-size: .8rem;
            margin: 15px 0;
            padding: 10px
        }

            .np .item:hover {
                background: var(--r)
            }

        .np img {
            border-radius: 5px !important;
            margin-right: 10px
        }

        .np-title {
            padding: 0 10px
        }

        .np-info {
            font-size: .75rem;
            font-style: italic;
            opacity: .8
        }

        .nl {
            background-repeat: no-repeat;
            font-family: Poppins;
            padding: 2rem;
            text-align: center
        }

            .nl.nlw {
                background-color: var(--x);
                border-radius: .5rem;
                color: var(--z);
                font-size: .8rem
            }

            .nl.nlh {
                background-color: var(--z);
                color: var(--q)
            }

            .nl h3 {
                font-family: Poppins;
                font-size: 26px;
                margin: 0 0 .5rem
            }

            .nl form {
                display: flex;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                max-width: 500px;
                width: 100%
            }

            .nl input {
                background: var(--q);
                border: 1px solid var(--z);
                border-radius: .5rem;
                height: 3em;
                margin: 0 .25rem;
                padding: 0 1rem;
                width: 100%
            }

                .nl input[type=submit] {
                    background: var(--y);
                    border: none;
                    color: var(--z);
                    max-width: 25%
                }

                    .nl input[type=submit]:hover {
                        background: var(--y)
                    }

        aside {
            background: var(--q)
        }

            aside .body::-webkit-scrollbar {
                width: 6px
            }

            aside .body::-webkit-scrollbar-track {
                background: var(--q)
            }

            aside .body::-webkit-scrollbar-thumb {
                background-color: var(--r);
                border-radius: 3px
            }

            aside.left .body {
                padding-right: 1rem
            }

            aside.right .body {
                margin-left: 1rem
            }

            aside .head {
                align-items: center;
                background: var(--q);
                display: none;
                height: 56px;
                margin-bottom: 20px;
                padding: 0 1rem;
                top: 0;
                z-index: 1300
            }

            aside .head,
            aside .s {
                position: -webkit-sticky;
                position: sticky
            }

            aside .s {
                top: 60px
            }

        #TableOfContents {
            position: relative
        }

            #TableOfContents ol ol a {
                opacity: .5
            }

        #related {
            position: relative
        }

        #leftside a {
            color: inherit;
            opacity: .7
        }

            #leftside a.active,
            #leftside a:hover {
                opacity: 1
            }

        #leftside ol {
            counter-reset: item;
            font-size: .8rem;
            list-style: none;
            padding-left: 15px
        }

            #leftside ol ol {
                padding-left: 25px
            }

                #leftside ol ol li:before {
                    left: 20px
                }

        #leftside li {
            margin: 5px 0;
            padding: 5px 0 5px 5px
        }

            #leftside li:before {
                content: counters(item, ".") ". ";
                counter-increment: item;
                left: 0;
                opacity: .3;
                position: absolute
            }

        .i {
            font-family: Icon;
            font-style: normal;
            text-rendering: auto
        }

            .i.menu {
                align-items: center;
                border-radius: 50%;
                color: var(--z);
                display: flex;
                font-size: 28px;
                height: 45px;
                justify-content: center;
                position: relative;
                width: 45px
            }

                .i.menu:hover {
                    background: var(--r)
                }

                .i.menu:before {
                    background: var(--y);
                    border-radius: 50%;
                    content: "";
                    height: 15px;
                    left: 7px;
                    position: absolute;
                    top: 7px;
                    width: 15px
                }

                .i.menu:after {
                    position: relative
                }

            .i.logo:after {
                content: "\26A1";
                padding-left: .05em
            }

            .i.share {
                color: var(--p);
                font-size: 20px;
                opacity: .5
            }

                .i.share:before {
                    content: "\00D0"
                }

                .i.share:active {
                    opacity: 1
                }

            .i.heart:before {
                content: "\2764"
            }

            .i.true:before {
                content: "\2713"
            }

            .i.false:before {
                content: "\26D4"
            }

            .i.hash:after {
                content: "\0023"
            }

            .i.home:after {
                content: "\00C7"
            }

            .i.list:after {
                content: "\00C3"
            }

            .i.search:after {
                content: "\00C6"
            }

            .i.side:after {
                content: "\00C2"
            }

            .i.night:after {
                content: "\00C4"
            }

            .i.light:after {
                content: "\00C5"
            }

            .i.back:after {
                content: "\2039"
            }

            .i.next:after {
                content: "\203A"
            }

            .i.more:after {
                content: "\00C8"
            }

        .hdsm {
            display: none !important
        }

        #leftside .body {
            max-height: calc(100vh - 60px);
            overflow-y: auto;
            padding-top: 1rem;
            position: -webkit-sticky;
            position: sticky;
            top: 60px
        }

        }

        #media (max-width:576px) {
            .shwsm

        {
            display: none !important
        }

        #logo {
            justify-content: center
        }

        #leftside {
            border-radius: 0 10px 10px 0;
            bottom: 0;
            box-shadow: 0 0 15px rgba(0, 0, 0, .25);
            left: -100%;
            overflow: auto;
            position: fixed;
            top: 0;
            transition: left 1s;
            width: 100%;
            z-index: 1200
        }

            #leftside.shw {
                left: 0
            }

            #leftside .head {
                display: flex;
                justify-content: flex-end
            }

            #leftside .body {
                padding-left: 1rem
            }

        }

        #media (min-width:768px) {
            .hdmd

        {
            display: none !important
        }

        .center {
            padding-left: 20px
        }

        .pgbox {
            flex: 0 0 50%;
            max-width: 50%
        }

        }

        #media (max-width:768px) {
            .shwmd

        {
            display: none !important
        }

        }

        #media (min-width:992px) {
            .hdlg

        {
            display: none !important
        }

        .center {
            padding-right: 20px
        }

        .pgbox {
            flex: 0 0 33.333333%;
            max-width: 33.333333%
        }

        }

        #media (max-width:992px) {
            .shwlg

        {
            display: none !important
        }

        aside.right {
            border-radius: 10px 0 0 10px;
            bottom: 0;
            box-shadow: 0 0 15px rgba(0, 0, 0, .25);
            overflow: auto;
            position: fixed;
            right: -100%;
            top: 0;
            transition: right .5s;
            width: 100%;
            z-index: 1000
        }

            aside.right.shw {
                right: 0
            }

            aside.right .head {
                display: flex;
                justify-content: flex-start
            }

            aside.right .body {
                padding-right: 1rem
            }

        }

        #media (min-width:1200px) {
            .container

        {
            max-width: 1360px;
            padding-left: 25px;
            padding-right: 25px
        }

        }

        .u:after {
            color: var(--y);
            content: "\00AF\00AF\00AF";
            display: block;
            font-family: Icon;
            height: 0
        }

        .fc {
            align-items: center
        }

        .fb,
        .fc {
            display: flex
        }

        .fb {
            flex-direction: column;
            justify-content: space-between
        }

        .x:after {
            background-color: rgba(0, 0, 0, .3333333333333333);
            bottom: 0;
            content: "";
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000
        }

        .title,
        .title a {
            color: var(--z);
            font-family: Poppins;
            font-weight: 700
        }

        #keyframes loader {
            0%

        {
            background-position: 100% 50%
        }

        to {
            background-position: 0 50%
        }

        }

        .lazy,
        .loader {
            animation: loader 1.4s ease infinite;
            background-image: linear-gradient(90deg, var(--r) 25%, rgba(0, 0, 0, .07) 37%, var(--r) 63%);
            background-size: 400% 100%;
            transition: all .3s ease
        }

        .alert {
            align-items: center;
            border-radius: .5em;
            display: flex;
            font-size: 14px;
            line-height: 1.8em;
            padding: 1em
        }

            .alert p {
                margin: 0
            }

            .alert:before {
                font-family: icon;
                font-size: 3em;
                margin-right: 15px
            }

            .alert.info {
                background: rgba(112, 236, 118, .2)
            }

                .alert.info:before {
                    color: #70ec76;
                    content: "\1F6C8"
                }

            .alert.warning {
                background: rgba(253, 221, 78, .2)
            }

                .alert.warning:before {
                    color: #fddd4e;
                    content: "\26A0"
                }

        a {
            color: var(--p)
        }

        kbd {
            background: var(--r);
            border-radius: .2em;
            font-size: .9em;
            padding: .3em
        }

        table {
            border-collapse: collapse;
            border-top: solid var(--y);
            position: relative
        }

        td {
            border-top: 1px solid var(--r);
            padding: 1em
        }

        th {
            font-size: 1.8em;
            padding: .5em
        }

        footer,
        th {
            color: var(--z);
            font-family: Poppins;
            bottom: 0px;
            width: 100%
        }

        footer {
            background: var(--r);
            padding-top: 20px
        }

            footer .nav {
                display: inline-flex;
                justify-content: center;
                list-style: none;
                padding: 0;
                width: 100%
            }

            footer .nav-link {
                color: var(--z);
                font-size: 14px;
                margin: 8px
            }

                footer .nav-link:hover {
                    color: var(--o)
                }

            footer .content {
                padding-bottom: 25px;
                text-align: center
            }

        .gatsby-highlight {
            font-size: 14px;
            position: relative
        }

            .gatsby-highlight:before {
                background: #e2dfdf;
                border-radius: 0 0 .2em .2em;
                content: attr(data-language);
                display: block;
                font-family: Poppins, sans-serif;
                font-size: .8rem;
                line-height: 1.6em;
                padding: 0 .4em;
                position: absolute;
                right: 1em;
                text-transform: uppercase;
                top: 0;
                z-index: 1
            }

            .gatsby-highlight[data-language*=javascript]:before,
            .gatsby-highlight[data-language*=js]:before {
                background-color: #f5f82a;
                content: "JS"
            }

            .gatsby-highlight[data-language*=html]:before,
            .gatsby-highlight[data-language*=xml]:before {
                background-color: #f86e37;
                color: #fff
            }

            .gatsby-highlight[data-language*=css]:before,
            .gatsby-highlight[data-language*=go]:before {
                background-color: #1977f1;
                color: #fff
            }

            .gatsby-highlight pre {
                border-radius: .5em;
                overflow: auto
            }

        .gatsby-highlight-code-line {
            background-color: #34434b;
            display: block;
            margin: 0 -3.8em;
            padding-left: 3.8em;
            text-shadow: none
        }

        .gatsby-highlight pre[class*=language-].line-numbers {
            overflow: auto;
            padding: 0 0 0 3.8em
        }

        pre {
            scrollbar-color: #bd93f9 #5b727e;
            scrollbar-width: thin
        }

            pre::-webkit-scrollbar {
                height: 6px;
                width: 6px
            }

            pre::-webkit-scrollbar-track {
                background: #5b727e
            }

            pre::-webkit-scrollbar-thumb {
                background-color: #bd93f9;
                border-radius: 3px
            }

            code[class*=language-]::selection,
            code[class*=language-] ::selection,
            pre[class*=language-]::selection,
            pre[class*=language-] ::selection {
                background-color: #34434b;
                text-shadow: none
            }

            pre.line-numbers {
                counter-reset: linenumber;
                padding-left: 3.8em;
                position: relative
            }

                pre.line-numbers > code {
                    position: relative;
                    white-space: inherit
                }

        .line-numbers .line-numbers-rows {
            border-right: 1px solid #555;
            font-size: 100%;
            left: -3.8em;
            letter-spacing: -1px;
            pointer-events: none;
            position: absolute;
            top: 0;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 3em !important
        }

        .line-numbers-rows > span {
            counter-increment: linenumber;
            display: block;
            pointer-events: none
        }

            .line-numbers-rows > span:before {
                color: #999;
                content: counter(linenumber);
                display: block;
                padding-right: .8em;
                text-align: right
            }

        div.code-toolbar {
            position: relative
        }

            div.code-toolbar > .toolbar {
                opacity: 0;
                position: absolute;
                right: .2em;
                top: .3em;
                transition: opacity .3s ease-in-out
            }

            div.code-toolbar:hover > .toolbar {
                opacity: 1
            }

            div.code-toolbar > .toolbar .toolbar-item {
                display: inline-block;
                padding-right: 20px
            }

            div.code-toolbar > .toolbar a {
                cursor: pointer
            }

            div.code-toolbar > .toolbar button {
                background: none;
                border: 0;
                color: inherit;
                font: inherit;
                line-height: normal;
                overflow: visible;
                padding: 0;
            }

            div.code-toolbar > .toolbar a,
            div.code-toolbar > .toolbar button,
            div.code-toolbar > .toolbar span {
                background: #5b727e;
                border-radius: .5em;
                color: #f8f8f2;
                font-size: .8em;
                padding: .5em
            }

                div.code-toolbar > .toolbar a:focus,
                div.code-toolbar > .toolbar a:hover,
                div.code-toolbar > .toolbar button:focus,
                div.code-toolbar > .toolbar button:hover,
                div.code-toolbar > .toolbar span:focus,
                div.code-toolbar > .toolbar span:hover {
                    background-color: #50fa7b;
                    color: inherit;
                    text-decoration: none
                }

        #media print {
            code [class*=language-], pre[class*=language-]

        {
            text-shadow: none
        }

        }

        code[class*=language-],
        pre[class*=language-] {
            word-wrap: normal;
            background: #1e272c;
            color: #f8f8f2;
            font-family: monospace;
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
            line-height: 1.5;
            -moz-tab-size: 4;
            -o-tab-size: 4;
            tab-size: 4;
            text-align: left;
            text-shadow: none;
            white-space: pre;
            word-break: normal;
            word-spacing: normal
        }

        pre[class*=language-] {
            background: #1e272c;
            height: auto;
            margin: .5em 0;
            overflow: hidden;
            overflow: auto;
            padding: 1em
        }

        :not(pre) > code[class*=language-],
        pre[class*=language-] {
            background: #1e272c
        }

        :not(pre) > code[class*=language-] {
            border-radius: .3em;
            font-size: .85em;
            padding: 4px 7px;
            white-space: normal
        }

        .limit-300 {
            height: 300px !important;
            height: 400px !important
        }

        .limit-500 {
            height: 500px !important
        }

        .limit-600 {
            height: 600px !important
        }

        .limit-700 {
            height: 700px !important
        }

        .limit-800 {
            height: 800px !important
        }

        .language-css {
            color: #bd93f9
        }

            .language-css .token,
            .token {
                color: #ff79c6
            }

                .token.script {
                    color: #f8f8f2
                }

                .token.bold {
                    font-weight: 700
                }

                .token.italic {
                    font-style: italic
                }

                .token.atrule,
                .token.attr-name,
                .token.attr-value {
                    color: #50fa7b
                }

                .language-css .token.atrule {
                    color: #bd93f9
                }

        .language-html .token.attr-value,
        .language-markup .token.attr-value {
            color: #f1fa8c
        }

        .token.boolean {
            color: #bd93f9
        }

        .token.builtin,
        .token.class-name {
            color: #8be9fd
        }

        .token.comment {
            color: #5b727e
        }

        .token.constant {
            color: #bd93f9
        }

        .language-javascript .token.constant {
            color: #ffb86c;
            font-style: italic
        }

        .token.entity {
            color: #ff79c6
        }

        .language-css .token.entity {
            color: #50fa7b
        }

        .language-html .token.entity.named-entity {
            color: #bd93f9
        }

        .language-html .token.entity:not(.named-entity) {
            color: #ff79c6
        }

        .language-markup .token.entity.named-entity {
            color: #bd93f9
        }

        .language-markup .token.entity:not(.named-entity) {
            color: #ff79c6
        }

        .token.function {
            color: #50fa7b
        }

        .language-css .token.function {
            color: #8be9fd
        }

        .token.important,
        .token.keyword {
            color: #ff79c6
        }

        .token.prolog {
            color: #f8f8f2
        }

        .token.property {
            color: #ffb86c
        }

        .language-css .token.property {
            color: #8be9fd
        }

        .token.punctuation {
            color: #ff79c6
        }

        .language-css .token.punctuation {
            color: #ffb86c
        }

        .language-html .token.punctuation,
        .language-markup .token.punctuation {
            color: #f8f8f2
        }

        .token.selector {
            color: #ff79c6
        }

        .language-css .token.selector {
            color: #50fa7b
        }

        .token.regex {
            color: #f55
        }

        .language-css .token.rule:not(.atrule) {
            color: #f8f8f2
        }

        .token.string {
            color: #f1fa8c
        }

        .token.tag {
            color: #ff79c6
        }

        .token.url {
            color: #8be9fd
        }

        .language-css .token.url {
            color: #ffb86c
        }

        .token.variable {
            color: #5b727e
        }

        .token.number {
            color: #bd93f9
        }

        .token.operator {
            color: #8be9fd
        }

        .token.char {
            color: #ff879d
        }

        .token.symbol {
            color: #ffb86c
        }

        .token.deleted,
        .token.deleted * {
            color: #dbb6b6;
            opacity: .8
        }

        .token.inserted,
        .token.inserted * {
            color: #02ff56
        }

        .token.namespace {
            color: #e2777a
        }

        .highlight-line {
            border-radius: 4px;
            color: inherit;
            display: inline-block;
            padding: 2px 10px;
            text-decoration: none
        }

            .highlight-line:empty:before {
                content: " "
            }

            .highlight-line:not(:last-child) {
                min-width: 100%
            }

            .highlight-line .highlight-line:not(:last-child) {
                min-width: 0
            }

        .highlight-line-isdir {
            background-color: #4a5d68;
            color: #f8f8f2
        }

        .highlight-line-active {
            background-color: #607b8a
        }

        .highlight-line-add {
            background-color: #aaf8be
        }

        .highlight-line-remove {
            background-color: #fd8585
        }

        .tagPageheader {
            font-family: Poppins, sans-serif;
            padding: 2rem;
            text-align: center
        }

            .tagPageheader .t {
                justify-content: center
            }

            .tagPageheader a {
                color: var(--z);
                font-size: 1.1rem;
                opacity: .6
            }

                .tagPageheader a:hover {
                    opacity: 1
                }

        .tc-term {
            justify-content: center;
            padding: 0 15px 40px;
            text-align: center
        }

            .tc-term .tags {
                background-color: var(--r);
                border-radius: .5rem;
                color: var(--z);
                font-family: Poppins, sans-serif;
                font-size: 1rem;
                margin: .5rem;
                padding: 15px
            }

            .tc-term .name {
                font-weight: 600;
                margin-right: .5rem
            }

            .tc-term .count {
                background-color: var(--y);
                border-radius: 20px;
                margin: .2rem;
                padding: 10px 16px
            }

        .step {
            background-color: var(--x);
            border-radius: 10px;
            margin: 1rem auto;
            overflow: hidden
        }

        .step-name {
            align-items: flex-start;
            display: flex;
            padding: .5rem 1rem
        }

        .step-number {
            color: var(--z);
            font-family: Poppins, serif;
            font-size: 1.8rem;
            font-weight: 700;
            margin-right: .7rem;
            opacity: .3
        }

        .step-content {
            overflow: hidden;
            width: 100%
        }

        .step-number:after {
            content: attr(data-step)
        }

        .step-title {
            color: var(--z);
            font-family: Lato, serif;
            margin: 0 0 1rem !important;
            padding: 0
        }

        .step-img img {
            border-radius: 0;
            width: 100%
        }

        .step-desc,
        .step-info {
            font-size: 1.2rem;
            line-height: 1.8rem;
            padding: 1.5rem
        }

        .step-desc {
            background-color: #fff;
            border-radius: 0 0 10px 10px;
            margin-bottom: 1rem;
            margin-top: -15px
        }

        #welcome {
            color: var(--z);
            font-family: Poppins, Arial, Helvetica, sans-serif;
            min-height: 100vh;
            position: relative;
            text-align: center
        }

        .action {
            padding: 100px 30px 50px
        }

        #welcome h1 {
            font-size: 40px;
            margin-bottom: .5em
        }

        .tagline {
            font-size: 16px;
            font-weight: 400
        }

        .homesearch {
            margin-left: auto;
            margin-right: auto;
            max-width: 800px;
            padding: 15px;
            position: relative
        }

            .homesearch input {
                background: var(--r);
                border: none;
                border-radius: 25px;
                font-size: 16px;
                height: 50px;
                padding: 0 50px 0 20px;
                width: 100%
            }

            .homesearch button {
                background: none;
                border: none;
                color: var(--p);
                font-size: 20px;
                opacity: .5;
                position: absolute;
                right: 20px
            }

        #explore {
            background: var(--r);
            padding: 10px
        }

        .exp {
            background: none;
            border: none;
            border-radius: .2em;
            color: var(--z);
            font-size: 30px;
            margin: 10px auto 50px;
            opacity: .7;
            padding: 10px 20px
        }

            .exp:hover {
                opacity: 1
            }

        .dc {
            position: absolute;
            z-index: -1
        }

        #welcome h1 {
            font-size: 55px
        }

        .tagline {
            font-size: 20px
        }

        #welcome h1 {
            font-size: 65px
        }

        .tagline {
            font-size: 25px
        }

        #welcome h1 {
            font-size: 70px
        }


        .srn {
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            margin: 0;
            overflow: hidden;
            padding: 0;
            position: absolute;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            white-space: nowrap;
            width: 1px;
            z-index: -1000
        }
    </style>
    <meta name="generator" content="Gatsby 3.5.0">
    <style>
        .gatsby-image-wrapper {
            position: relative;
            overflow: hidden
        }

            .gatsby-image-wrapper img {
                bottom: 0;
                height: 100%;
                left: 0;
                margin: 0;
                max-width: none;
                padding: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                object-fit: cover
            }

            .gatsby-image-wrapper [data-main-image] {
                opacity: 0;
                transform: translateZ(0);
                transition: opacity .25s linear;
                will-change: opacity
            }

        .gatsby-image-wrapper-constrained {
            display: inline-block
        }
    </style>
    <noscript>
        <style>
            .gatsby-image-wrapper noscript [data-main-image] {
                opacity: 1 !important
            }

            .gatsby-image-wrapper [data-placeholder-image] {
                opacity: 0 !important
            }
        </style>
    </noscript>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-KMVFZZB"></script>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">

    

</head>

<body data-theme="dark">
    <div id="___gatsby">
        <div style="outline:none" tabindex="-1" id="gatsby-focus-wrapper">
            <script>"true" !== localStorage.getItem("dark") && !0 !== window.matchMedia("(prefers-color-scheme:dark)").matches || document.body.setAttribute("data-theme", "dark");</script>
            <div class="navbar container fc">

                <div id="logo" class="left fc">
                    <h1 title="Ransmart Blogger">Ransmart Blogger</h1>

                </div>
                <div class="center shwsm">
                    <br><br><br /><br /><br /><br />

                </div>
                <nav class="fc right" id="rightmenu">
                    <ul class="fc">
                    </ul>
                </nav>
            </div>

            <!-- AWAL SISI KIRI -->
            <!-- AWAL SISI KIRI -->
            <!-- AWAL SISI KIRI -->
            <!-- AWAL SISI KIRI -->
            <!-- AWAL SISI KIRI -->
            <!-- AWAL SISI KIRI -->
            <!-- AWAL SISI KIRI -->

            <main class="container row top">
                <aside id="leftside" class="left ">
                </aside>


                <!-- AKHIR SISI KIRI -->
                <!-- AKHIR SISI KIRI -->
                <!-- AKHIR SISI KIRI -->
                <!-- AKHIR SISI KIRI -->
                <!-- AKHIR SISI KIRI -->
                <!-- AKHIR SISI KIRI -->
                <!-- AWAL BAGIAN TENGAH -->
                <!-- AWAL BAGIAN TENGAH -->
                <!-- AWAL BAGIAN TENGAH -->
                <!-- AWAL BAGIAN TENGAH -->
                <!-- AWAL BAGIAN TENGAH -->


                <div class="contents center">
                        <div>
                            <a href="https://wa.me/+6285156061121" target="_blank">
                                <span class="ptag">
                                    #
                                    <!-- -->Ransmart_Blogger
                                </span>
                            </a>
                        </div>
                        <br />
                    <div align="center">
                        <div align="center">
                            @RenderBody()                            
                        </div>
                    </div>
                </div>

                <!-- AKHIR BAGIAN TENGAH -->
                <!-- AKHIR BAGIAN TENGAH -->
                <!-- AKHIR BAGIAN TENGAH -->
                <!-- AKHIR BAGIAN TENGAH -->
                <!-- AKHIR BAGIAN TENGAH -->


                <aside id="rightside" class="right">
                    <div class="body s" style="margin-bottom:24px">
                    </div>
                </aside>
            </main>

            <!-- AKHIR BAGIAN KANAN -->            
            <br />
            <footer>
                <ul class="nav">
                    <li><a class="nav-link" data-links="false" href="https://wa.me/+6285156061121" target="_blank">Hubungi Kami</a></li>
                </ul>
                <div class="nav-item" id="darkmode-icon">
                    <div class="content">
                        <div style="margin-bottom:0.2em">
                            ©
                            <!-- -->2021
                            <!-- --> <span class="i logo">RANSMART BLOGGER &ensp;</span>
                        </div>
                        <div style="font-size:1em;margin-bottom:0.5em">
                            Dibuat Oleh
                            <!-- -->  Randi Firmansyah
                            <span style="font-family:&quot;icon&quot;;color:#ff0000">❤</span>
                            Indonesia
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div id="gatsby-announcer"
             style="position:absolute;top:0;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border:0"
             aria-live="assertive" aria-atomic="true"></div>
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>

    <script id="gatsby-script-loader">/*<![CDATA[*/window.pagePath = "/cara-membuat-tema-blogger-dengan-bootstrap";/*]]>*/</script>
    <script id="gatsby-chunk-mapping">/*<![CDATA[*/window.___chunkMapping = { "polyfill": ["/polyfill-bb18bb6910d6744adf17.js"], "app": ["/app-c81b0ae94d1195f79865.js"], "component---src-components-categories-layout-js": ["/component---src-components-categories-layout-js-5fa145b529e2538cb5ca.js"], "component---src-components-post-list-js": ["/component---src-components-post-list-js-974e89e4f15c161ecff2.js"], "component---src-components-posts-layout-js": ["/component---src-components-posts-layout-js-481fb22c42aeb4fc9e6b.js"], "component---src-components-tags-layout-js": ["/component---src-components-tags-layout-js-498a812cf164cc427759.js"], "component---src-pages-404-js": ["/component---src-pages-404-js-25d2436646e94aad82d5.js"], "component---src-pages-about-js": ["/component---src-pages-about-js-74c928630126c8128147.js"], "component---src-pages-categories-js": ["/component---src-pages-categories-js-8959849ff03d276080b7.js"], "component---src-pages-contact-us-js": ["/component---src-pages-contact-us-js-0c8c41e453135b1761ee.js"], "component---src-pages-index-js": ["/component---src-pages-index-js-1329448ba92b1da8a26d.js"], "component---src-pages-privacy-policy-js": ["/component---src-pages-privacy-policy-js-db393f4cf3cdf3fa5f24.js"], "component---src-pages-search-js": ["/component---src-pages-search-js-5f1d32d759a30c6835d2.js"], "component---src-pages-subscribe-js": ["/component---src-pages-subscribe-js-ec25b1014fed6ed405ef.js"], "component---src-pages-tags-js": ["/component---src-pages-tags-js-242d8b690854ea7b3be6.js"], "component---src-pages-tos-js": ["/component---src-pages-tos-js-2646a9a99563f05aea4a.js"] };/*]]>*/</script>
    <script src="/polyfill-bb18bb6910d6744adf17.js" nomodule=""></script>
    <script src="/component---src-components-posts-layout-js-481fb22c42aeb4fc9e6b.js" async=""></script>
    <script src="/108a60b988fea1f8321e3efce18e8f69185ed0dd-89d3f8ba8d67ce93ec08.js" async=""></script>
    <script src="/app-c81b0ae94d1195f79865.js" async=""></script>
    <script src="/framework-4d74fc53f7ccf779444c.js" async=""></script>
    <script src="/webpack-runtime-d143f10e7115f05ecc5b.js" async=""></script>
</body>

</html>